body {
    background: #7f8c8d;
    margin: 0;
}

#container {
    border: 5px solid #95a5a6;
    box-shadow: 0 0 2px #101010;
    height: 600px;
    margin: 50px auto;
    position: relative;
    width: 900px;
}

canvas {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#L1 { background: #101010; }

/* XXX remove */
#hamas {
    left: 0;
    position: absolute;
    top: 0;
}
