body, #start {
    background: #7f8c8d;
    font: 22px/1 Segoe UI, Helvetica Neue, sans-serif;
    margin: 0;
}

#container {
    border: 5px solid #95a5a6;
    border-bottom-width: 64px;
    box-shadow: 0 0 2px #101010;
    height: 600px;
    margin: 50px auto 0;
    position: relative;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 900px;
}

canvas {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}

#xlife, #xscore {
    color: #ecf0f1;
    position: absolute;
    top: -40px;
}

#xscore {
    left: 600px;
}

#xoptions {
    bottom: -48px;
    color: #111;
    font-size: 16px;
    left: 2px;
    position: absolute;
}

label {
    padding: 0 5px;
}

#xstart {
    background: #ecf0f1;
    bottom: 40px;
    left: 350px;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 180px;
}

#container .hide {
    left: -9000px;
    opacity: 0;
    transition: left 10s, opacity 0.5s;
}

#start {
    background: #9c0;
    border: 0;
    color: #2d2d2d;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 10px;
}

#start:active {
    background: #fb3;
    outline: 0;
}

#start:focus { outline: 0; }

#help { font-size: 16px; }
